@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8D99AE;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
}

#calculator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#memorized {

}

#calculator {
  min-height: 50vmin;
  min-width: 35vmin;
  display: grid;
  grid-template-rows: 4fr repeat(4, 1.4fr);
  background-color: #0b132b;
  border-radius: 3vmin;
  padding-bottom: 1.2vmin
}

#calculator #inputs {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #ffeecf;
  border-radius: 3vmin;
  margin: 2.4vmin 1.4vmin 2.4vmin 1.4vmin;
  padding: 0 0.5vmin;
  font-family: 'Roboto', sans-serif;
}

#calculator #inputs #whole-expression {
  align-self: center;
  justify-self: end;
  font-size: 1.2em;
}

#calculator #inputs #current-input {
  align-self: center;
  justify-self: end;
  font-size: 1.5em;
  font-weight: bold;
}

#calculator .buttons-row {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-column-gap: 1.2vmin;
  margin: 0 1.4vmin 1.2vmin 1.4vmin;
}

#calculator .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vmin;
  background-color: #ffeecf;
  color: #56494c;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

#calculator .action {
  background-color: #ef8354;
}

#calculator .result {
  grid-area: 1 / 4 / 2 / -1;
}
